<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/game.css">




  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="game" id="game"></div>
    <div class="tabs">
      <h2>Chat</h2>
      <div class="chat">

        <div class="chat-box">
          <div class="chat-header">
            <h4>Name</h4>
          </div>
          <div class="chat-body">
            <div class="chat-message">
              <div class="chat-message-content">
                <p>Message</p>
              </div>
            </div>
          </div>
        </div>

        <div class="send-message">
          <input type="text" placeholder="Type your message here...">
          <button type="button">Send</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/pixi.min.js"></script>
  <script src="/js/viewport.min.js"></script>
  <script src="/js/game.js"></script>
</body>

</html>
